<!DOCTYPE html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" href="/static/about.css">
  <script src="/static/about.js" defer></script>
</head>
<body>
  <div id="top_div">
    <button id="btn_back">Back</button>
  </div>

  <div id="about_wrapper">
    <div class="person left">
      <img src="/static/images/Anderson.jpg" alt="Anderson R" class="profile_img">
      <h2>Anderson R.</h2>
      <p>High School senior at Hillcrest High School in Jamaica, NY. Will attend City College of New York for Computer Engineering. Speaks English and native Spanish speaker. Hispanic  that likes to drive at night to not get stuck in traffic jams.</p>
    </div>

    <div class="person right">
      <img src="/static/images/varesh.jpg" alt="Varesh L" class="profile_img">
      <h2>Varesh L.</h2>
      <p>Im varesh lall im 18 years old I go to hillcrest high school and im graduating in 2 weeks in these 4 years I was in the HSSE Slc. </p>
    </div>
  </div>
</body>
</html>
