<!DOCTYPE html>
<html>
<head>
  <title>Studentin Calculator</title>
  <link rel="stylesheet" href="../static/calculator.css">
  <script src="../static/calculator.js" defer></script>
</head>
<body>
  <div id="top_div">
    <button id="btn_back">Back</button>
  </div>

  <div id="calc_app">
    <div id="calc_header">
      <h2 id="mode_label">Standard</h2>
      <button id="switch_mode">🔄</button>
    </div>

    <div id="display">0</div>

    <div id="buttons">
      <button id="btn_percent">%</button>
      <button id="btn_ce">CE</button>
      <button id="btn_clear">C</button>
      <button id="btn_delete">⌫</button>

      <button id="btn_inv">1/x</button>
      <button id="btn_square">x²</button>
      <button id="btn_sqrt">√x</button>
      <button id="btn_divide">÷</button>

      <button id="btn_7">7</button>
      <button id="btn_8">8</button>
      <button id="btn_9">9</button>
      <button id="btn_multiply">×</button>

      <button id="btn_4">4</button>
      <button id="btn_5">5</button>
      <button id="btn_6">6</button>
      <button id="btn_minus">−</button>

      <button id="btn_1">1</button>
      <button id="btn_2">2</button>
      <button id="btn_3">3</button>
      <button id="btn_plus">+</button>

      <button id="btn_sign">±</button>
      <button id="btn_0">0</button>
      <button id="btn_dot">.</button>
      <button id="btn_equal">=</button>
    </div>
  </div>
</body>
</html>
