<html>
	<head>
		<link rel="stylesheet" href="../static/log_in.css">
		<script src="../static/log_in.js"></script>
	</head>
	<body>
		<div id="whole_div">
			<div id="title_div">
				<h1>Log In</h1>
			</div>
			<div id="info_div">
				<label>Username: </label>
				<input type="txt" id="txt_username_login"></input><br>
				<label>Password: </label>
				<input type="txt" id="txt_password_login"></input><br>
			</div>
			<div id="submit_div">
				<button id="btn_submit_login">Submit</button>
				<button id="btn_New_login">New Account</button>
				<button id="btn_guest_login">Guest</button>
			</div>
		</div>
	</body>
</html>