<html>
	<head>
		<script src="../static/main.js"></script>
		<link rel="stylesheet" href="../static/main.css">
	</head>
	<body>
		<div id="whole_div">
			<div id="top_div">
				<div id="username_div">
					<button id="btn_profile">Profile</button>
					<button id="btn_logout">Log Out</button>
				</div>
			</div>
			<div id="title_div">
				<h1>Welcome to Studentin</h1>
			</div>
			<div id="buttons_div">
				<button id="btn_games">Games</button><br>
				<button>Converter</button><br>
				<button>Calculator</button><br>
				<button>About</button>
			</div>
		</div>
	</body>
</html>