<html>
<head>
    <link rel="stylesheet" href="../static/log_in.css">
    <script src="../static/sign_up.js" defer></script>
</head>
<body>
    <div id="whole_div">
        <div id="title_div">
            <h1>Register</h1>
        </div>
        <div id="info_div">
            <label>Username: </label>
            <input type="text" id="txt_username_signup"><br>
            <label>Password: </label>
            <input type="text" id="txt_password_signup"><br>
        </div>
        <div id="buttons_div">
            <button id="btn_create">Create</button>
            <button id="btn_login">Log In</button>
            <button id="btn_guest_login">Guest</button>
        </div>
    </div>
</body>
</html>
